@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../base/reset';
@use '../components/button';


.footer {

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__logo {
        height: 30px;
        width: auto;
        margin-bottom: 0.5rem;
    }

    &__slogan {
        font-style: italic;
        color: var(--gray-medium);
    }

    &__title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: var(--white);
    }

    &__links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 0.5rem;
        }

        a {
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--secondary-color);
            }

            &:visited {
                color: var(--white);
            }
        }
    }

    &__contact {
        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.8rem;
            color: var(--white);
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 1.5rem;
    }

    &__copyright {
        text-align: center;
        color: var(--gray-medium);
        font-size: 0.9rem;
    }

//    &__social {

    }


.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--light-color);
    transition: var(--transition);
    color: var(--primary-color);


    &:hover {
        background-color: var(--secondary-color);
        transform: translateY(-3px);
        color: var(--white);
    }

    &:visited {
        color: var(--primary-color);
    }
}