@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../base/reset';


// íconos acerca de

.feature__icon {
    font-size: 2.5rem;
    color: var(--highlight-color);
    margin-bottom: 1rem;
}


//íconos footer

.fa-map-marker-alt {
    color: var(--white);
}

.fa-phone {
    color: var(--white);
}

.fa-envelope {
    color: var(--white);
}
